<h6 class="mt-5">Vote for the game of the year</h6>
<br />
<div class="row">
  <div class="col">
    <div class="card-deck">
      <div class="card bg-dark" *ngFor="let game of games">
        <img class="card-img-top" [src]="game.url" alt="game.name" />
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">{{ game.description }}</p>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-block btn-outline-primary"
            (click)="vote(game.id)"
          >
            Vote
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
